{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet"
          href="{% static 'application_form/css/applicationform_list.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
          rel="stylesheet">
</head>
<body>
<div class="header">
    <h1>Application Form</h1>
    <a href="/">MAIN</a>
</div>
<div class="main-container">
    <div class="column-names">
        <p>Object pk</p>
        <p>Date</p>
        <p>From place</p>
        <p>To place</p>
        <p>Load place</p>
        <p>Units</p>
        <p>Load count</p>
        <div></div>
    </div>
    {% for application_form in application_forms %}
        <div class="object">
            <h1>{{ application_form.pk }}</h1>
            <p>{{ application_form.date }}</p>
            <p>{{ application_form.from_place }}</p>
            <p>{{ application_form.to_place }}</p>
            <p>{{ application_form.load_name }}</p>
            <p>{{ application_form.units }}</p>
            <p>{{ application_form.load_count }}</p>
            <form action="{% url 'application_form:application-form-delete' application_form.pk %}"
                  method="post">
                {% csrf_token %}
                <input type="submit" value="delete">
            </form>
            <form action="{% url 'application_form:application-form-update' application_form.pk %}"
                  method="get">
                <input type="submit" value="update">
            </form>
        </div>
    {% endfor %}

    <div class="add-form">
        <form action="{% url 'application_form:application-form-create' %}"
              method="post" id="add-object">
            {% csrf_token %}
            <input type="date" name="date"
                   placeholder="date">
            <input type="text" name="from_place"
                   placeholder="from_place">
            <input type="text" name="to_place"
                   placeholder="to_place">
            <input type="text" name="load_name"
                   placeholder="load_name">
            <input type="text" name="units"
                   placeholder="units">
            <input type="number" name="load_count"
                   placeholder="load_count">
            <input type="submit">
        </form>
    </div>
</div>
</body>
</html>
