{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet"
          href="{% static 'application_form/css/form.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
          rel="stylesheet">
</head>
<body>
<div class="container">
    {% if form.errors %}
        {{ form.errors }}
        <a href="{% url 'application_form:delivery-list' %}"
                   id="back-btn">back</a>
    {% else %}
        <form method="post" action="{{ request.path }}">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="buttons">
                <input type="submit" value="save" id="save-btn">
                <a href="{% url 'application_form:application-form-list' %}"
                   id="cancel-btn">cancel</a>
            </div>
        </form>
    {% endif %}
</div>
</body>
</html>
