{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet"
          href="{% static 'application_form/css/delivery_list.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
          rel="stylesheet">
</head>
<body>
<div class="header">
    <h1>Delivery</h1>
    <a href="/">MAIN</a>
</div>
<div class="main-container">
    <div class="column-names">
        <p>Object pk</p>
        <p>Start datetime</p>
        <p>Return date</p>
        <p>Vehicle number</p>
        <p>Application form</p>
        <p>Actual load count</p>
        <p>Travelled distance</p>
        <div></div>
    </div>
    {% for delivery in deliveries %}
        <div class="object">
            <h1>{{ delivery.pk }}</h1>
            <p>{{ delivery.start_datetime }}</p>
            <p>{{ delivery.return_date }}</p>
            <p>{{ delivery.vehicle_number }}</p>
            <p>{{ delivery.application_form }}</p>
            <p>{{ delivery.actual_load_count }}</p>
            <p>{{ delivery.travelled_distance }}</p>
            <form action="{% url 'application_form:delivery-delete' delivery.pk %}"
                  method="post">
                {% csrf_token %}
                <input type="submit" value="delete">
            </form>
            <form action="{% url 'application_form:delivery-update' delivery.pk %}"
                  method="get">
                <input type="submit" value="update">
            </form>
        </div>
    {% endfor %}

    <div class="add-form">
        <form action="{% url 'application_form:delivery-create' %}"
              method="post" id="add-object">
            {% csrf_token %}
            <input type="datetime-local" name="start_datetime"
                   placeholder="start_datetime">
            <input type="datetime-local" name="return_date"
                   placeholder="return_date ">
            <select name="vehicle_number">
                {% for vehicle in vehicles %}
                    <option value="{{ vehicle.pk }}">{{ vehicle.vehicle_number }}</option>
                {% endfor %}
            </select>
            <select name="application_form">
                {% for application_form in application_forms %}
                    <option value="{{ application_form.pk }}">{{ application_form.pk }}</option>
                {% endfor %}
            </select>
            <input type="number" name="actual_load_count"
                   placeholder="actual_load_count">
            <input type="number" name="travelled_distance"
                   placeholder="travelled_distance">
            <input type="submit">
        </form>
    </div>
</div>
</body>
</html>
