{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="{% static 'application_form/css/index.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
          rel="stylesheet">
</head>
<div class="header">
    <h1>Transport company</h1>
</div>
<body>

<div class="container">
    <div class="first-line">
        <a class="block-transport effect-class"
           href="{% url 'application_form:transport-list' %}">Transport</a>
        <a class="block-delivery effect-class"
           href="{% url 'application_form:delivery-list' %}">Delivery</a>
    </div>
    <div class="second_line">
        <a class="block-application-form effect-class"
           href="{% url 'application_form:application-form-list' %}">Application
            Form</a>
    </div>
</div>
</body>
</html>
