{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet"
          href="{% static 'application_form/css/transport_list.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
          rel="stylesheet">
</head>
<body>
<div class="header">
    <h1>Transport</h1>
    <a href="/">MAIN</a>
</div>
<div class="main-container">
    <div class="column-names">
        <p>Object pk</p>
        <p>Car manufacturer</p>
        <p>Vehicle number</p>
        <p>Fuel consumption</p>
        <div></div>
    </div>
    {% for transport in transports %}
        <div class="object">
            <h1>{{ transport.pk }}</h1>
            <p>{{ transport.car_manufacturer }}</p>
            <p>{{ transport.vehicle_number }}</p>
            <p>{{ transport.fuel_consumption }}</p>
            <form action="{% url 'application_form:transport-delete' transport.pk %}"
                  method="post">
                {% csrf_token %}
                <input type="submit" value="delete">
            </form>
            <form action="{% url 'application_form:transport-update' transport.pk %}"
                  method="get">
                <input type="submit" value="update">
            </form>
        </div>
    {% endfor %}

    <div class="add-form">
        <form action="{% url 'application_form:transport-create' %}"
              method="post" id="add-object">
            {% csrf_token %}
            <input type="text" name="car_manufacturer"
                   placeholder="car_manufacturer">
            <input type="text" name="vehicle_number"
                   placeholder="vehicle_number">
            <input type="number" name="fuel_consumption"
                   placeholder="fuel_consumption">
            <input type="submit">
        </form>
    </div>
</div>
</body>
</html>
