body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: coral;
}

.header > a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 250%;

}


.main-container {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: space-around;
}

.column-names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.column-names > div {
    flex-grow: 0.1;
}

.object {
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid;
}


.add-form {
    margin: 10px;
    padding: 20px;
    background-color: coral;
}

.add-form > form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 1300px) {
  .add-form > form {
    flex-direction: column;
  }
    .add-form > form > input {
        margin: 10px 0;
}
}

.add-form > form > input {
    border: none;
}
