body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 60%;
}

.container > form > p {
    display: flex;
    justify-content: space-between;
    background-color: #9CCC65;
    padding: 20px;
    border-radius: 10px;
}

input {
    border: none;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#save-btn {
    display: flex;
    justify-content: center;
    font-size: 102%;
    width: 45%;
    background-color: #33691E;
    padding: 20px;
    border-radius: 10px;
    margin: 0;
}

#cancel-btn {
    display: flex;
    justify-content: center;
    width: 45%;
    background-color: rgba(255, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin: 0;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}

/*    for error list   */
.errorlist > li{
    background-color: #0091EA;
    margin: 10px;
    padding: 10px;
}

.errorlist{
    list-style-type: none;
}

#back-btn {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin: 0 10px 0 50px;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}
