html {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #2f2f2f;
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    justify-content: center;
}

.first-line {
    height: 500px;
    display: flex;
    flex-direction: row;
}

.block-transport,
.block-delivery,
.block-application-form {
    display: flex;
    align-items: center;
    justify-content: center;
}


.block-transport {
    display: flex;
    background-color: #9CCC65;
    height: 300px;
    width: 400px;
    align-self: flex-end;
    transition: 0.5s;

}

.block-transport:hover {
    transition: 0.5s;
    height: 500px;
    width: 600px;
    margin-bottom: -30px;
    margin-right: -100px;
}


.block-delivery {
    display: flex;
    background-color: cornflowerblue;
    width: 600px;
    height: 100px;
    align-self: flex-end;
    transition: 0.5s;
}

.block-delivery:hover {
    transition: 0.5s;
    height: 300px;
    margin-left: -100px;
    margin-bottom: -100px;
}


.block-application-form {
    display: flex;
    background-color: coral;
    width: 500px;
    height: 300px;
    transition: 0.5s;
}

.block-application-form:hover {
    transition: 0.5s;
    width: 900px;
    margin-top: -30px;
}

.effect-class:hover {
    box-shadow: 0 0 100px rgba(0, 0, 0, 1); /* Параметры тени */
    z-index: 1;
}
